Universe = vanilla

Executable = SCRIPT

Log = outCondor/condor_job_$(ProcId)_KINDEX.log

Output = outCondor/condor_job_$(ProcId)_KINDEX.out

Error = outCondor/condor_job_$(ProcId)_KINDEX.error

#transfer_input_files = INFILE

getenv = True

environment = "LS_SUBCWD=FOLDER"

x509userproxy = $ENV(X509_USER_PROXY)

use_x509userproxy = True

#request_memory = 3500

#requirements = (OpSysAndVer =?= "SLCern6")

TIME

queue
